<!------------Header nav------------------>
<div id="body">
    <div class="container-fluid">
        <nav class="navbar navbar-dark bg-dark align-items-center" id="main-header">
            <div id="brand">
                <button class="navbar-toggler ml-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                <a class="navbar-brand fs-2 ml-3">DroneX</a>
            </div>

            <div class="connection-status text-white text-lowercase fs-6 bg-success p-2">
                CONNEXION éTABLIE
            </div>


            <div id="quickActions">
                <fa-icon [icon]="['fas', 'video']" [size]="'2x'" class="info-icons" (click)="cameraOnOff()"></fa-icon>
                <fa-icon [icon]="['fas', 'signal']" [size]="'2x'" class="info-icons"></fa-icon>
                <fa-icon [icon]="['fas', 'battery-full']" [size]="'2x'" class="info-icons"></fa-icon>

                <div class="btn btn-success ml-4" (click)="connectSocket()">
                    <fa-icon [icon]="onOffIcon" [size]="'2x'"></fa-icon>
                </div>
            </div>

        </nav>
    </div>
    <!------------Header nav------------------>



    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <app-spinner></app-spinner>
            <!-- side navigation bar located on yhe left ofthe page -->
            <div id="sidenav" class="col-md-3 bg-light bd-1 m-3  p-1 ">
                <!-- Alert Message -->
                <app-alert [message]="alertMsg" [type]="alertType" (onDismiss)="onDismissConnectionAlert()" [showAlert]="showAlert"></app-alert>

                <nav class="navbar navbar-dark bg-light text-dark flex-column flex-md-row">

                    <!----------------------------Itinerary form (component1)  ------------------>
                    <nav class="navbar navbar-light bg-light d-flex justify-content-left">
                        <form class="form-inline">
                            <button class="btn btn btn-outline-dark" type="button" (click)="displayMission()">Mission</button>
                            <button class="btn btn btn-outline-dark" type="button" (click)="displayDroneInfo()">Drone</button>
                            <button class="btn btn btn-outline-dark" type="button" (click)="displayManual()">Quick</button>
                        </form>
                    </nav>
                    <div class="card  text-dark m-2 w-100" *ngIf="showMission">

                        <div class="card-body">

                            <!-- The form -->
                            <form class="form" [formGroup]="itineraryForm">

                                <!--The start position is obtained automatically from the server,it corresponds to the current drone position-->
                                <div class="mb-3">
                                    <label for="startPosition" class="form-label fs-6">Départ</label>
                                    <input type="text" class="form-control text-secondary" id="startPosition" placeholder="Point de départ" formControlName="start" readonly>
                                </div>

                                <!--The destinations-->
                                <div class="mb-3">
                                    <label class="form-label fs-6">Destination(s) &nbsp;<span
                      class="badge bg-primary">{{nbDestination}}</span></label>
                                    <input type="text" class="form-control" placeholder="Latitude, Longitude" formControlName="destination" [(ngModel)]="destinationInput" [value]="destinationInput">
                                    <span *ngIf="destination && destination.invalid && destination.touched" class="text-danger">Formats de
                    données invalids</span>
                                </div>
                                <div class="mt-2">
                                    <button class="btn  btn-outline-dark float-left">
                    <fa-icon [icon]="faPlusCircle" style="font-size:20px"></fa-icon>
                  </button><label class="m-1 text-secondary">Ajouter une destination</label>
                                </div>

                                <!--Some Metrics-->
                                <div class="mt-3 fs-6 text-secondary" *ngIf="nbDestination>0">

                                    <p>Distance à parcourir : <span class="badge badge-success fs-6 p-1">{{pathDistance}} km</span>
                                    </p>
                                    <p>Temps de vol : <span class="badge badge-info fs-6 p-1">{{flightTime}}</span></p>
                                </div>

                                <!--Action Buttons-->
                                <div class="mt-2 float-end">
                                    <button [disabled]="itineraryForm.invalid" class="btn btn-secondary btn mr-1" (click)="clearItinerary()">Effacer</button>
                                    <button [disabled]="itineraryForm.invalid" class="btn btn-warning btn" (click)="sendMissionInfo()">Envoyer</button>
                                </div>
                            </form>

                            <app-alert [message]="alertMsg" [type]="alertType" (onDismiss)="onDismissSendAlert()" [showAlert]="showSendAlert"></app-alert>

                        </div>
                    </div>

                    <div class="row mission-list m-2 p-3">
                        <div class="col-4" *ngFor="let mission of missions; let i = index">
                            Mission <span class="fw-bolder">{{mission.title}}</span>
                        </div>
                        <div class="col">
                            <form class="form-inline">
                                <div class="btn btn-primary">Démarrer</div>
                                <div class="btn btn-danger" (click)="deleteMission(mission)">
                                    <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!------------ End Itinerary form Section------------------>

                    <!------------Drone Info display (component2)  ------------------>
                    <div id="Drone-info" class=" card text-dark w-100 p-3" *ngIf="showDroneInfo">
                        <h3 class="title text-start w-100 mb-3 p-1">Infos. du Drone</h3>

                        <div class="row row-sm-5 m-2">
                            <div class="col-4 col-md-6 mb-2">
                                <app-drone-info [infoTitle]="'Altitude'" [infoValue]="0" [infoUnit]="'m'"></app-drone-info>
                            </div>
                            <div class="col-4 col-md-6">
                                <app-drone-info [infoTitle]="'Vitesse'" [infoValue]="0" [infoUnit]="'kph'"></app-drone-info>
                            </div>

                            <div class="col-4 col-md-6">
                                <app-drone-info [infoTitle]="'Niveau Batterie'" [infoValue]="100" [infoUnit]="'%'"></app-drone-info>
                            </div>
                            <div class="col-4 col-md-6">
                                <app-drone-info [infoTitle]="'Gps'" [infoValue]="'48.018, 0.157'" [infoUnit]="''"></app-drone-info>

                            </div>
                        </div>

                    </div>

                    <!------------End Drone Info display ------------------>
                </nav>
                <!------------End sidenav bar ------------------>
            </div>
            <!------------Google map (component3) ------------------>
            <div id="map" class="col-md-8 mt-3">
                <div style="position: absolute; top:70%; z-index:10; height:50;">
                    <app-video [videoUrl]="videoUrl"></app-video>
                </div>
                <div class="action-buttons"></div>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="onChosenLocation($event)">
                    <!-- Marker indicating the current drone position-->
                    <agm-marker [latitude]="lat" [longitude]="lng" iconUrl="/assets/drone-svgrepo-com.svg"></agm-marker>

                    <!-- Destination marker(s)-->
                    <agm-marker *ngFor="let marker of markers; index as i" [latitude]="marker.lat" [longitude]="marker.lng" [animation]="'DROP'">
                    </agm-marker>

                    <!-- draw path between markers-->
                    <agm-polyline [visible]="true" [strokeWeight]="polyline.strokeWeight" [strokeColor]="'polyline.strokeColor'">
                        <agm-polyline-point *ngFor="let coordinate of droneItinerary; index as i" [latitude]="coordinate[0]" [longitude]="coordinate[1]">
                        </agm-polyline-point>
                    </agm-polyline>
                </agm-map>
            </div>
            <!------------ End Google map ------------------>
        </div>
    </div>
</div>